.body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;

}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
img {
    display: block;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;

}
.container-nav {
    display:flex;
    align-items: center;}

.header-nav { display: flex;
    align-items: center;
}

.logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.part-logo-header {
    color: #2E2F42;

}

.heder-link-set
   {display: flex;
    gap: 40px;
    margin: 0;}

.header-link {
    padding: 24px 0;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heder-link-set :hover,
.heder-link-set :focus {
    color: #404BBF;
}
.current { 
    position: relative;
    color: #404bbf;

}

.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color:#404bbf;
    height: 4px;
    width: 100%;
}



.address-main {
    font-style: normal;
    margin-left: auto;
}
.address-list {display: flex;
gap: 40px;}
 
.address {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 

}

.address:hover, .address:focus {
    color: #404BBF;
}


.section-hero {
    background: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    display: block;
    background-size: cover;
    margin: auto;
    padding-top: 188px;
    padding-bottom: 188px;

}

.section-hero-first {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;

}

.button {
    color: #FFFFFF;
    background: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
     margin: 0 auto;
     cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }


.button:hover, .button:focus {
    background-color: #404BBF;
}


.section-our-info {
    padding: 120px 0
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
 

.our-quality-list{
     display: flex;
     gap: 24px;
}
.our-quality-list-info {
    width: calc((100% - 72px) / 4);
}
.our-quality-icon {
   border-radius: 4px;
   border: 1px solid var(--LIGHT-SLATE, #8e8f99);
   background: #f4f4fd;
   width: 264px;
   height: 112px;
   flex-shrink: 0;
   margin-bottom: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
}


.our-quality {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    max-width: 264px;
    max-height: 24px;
    margin: 0 auto;
    margin-bottom: 8px;
}



.our-quality-info {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    max-height: 72px;


}

.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}


.our-team {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    min-width: 162px;
}
.tema-list {
    display: flex;
    gap: 24px;
}

.team-info {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-team-information{
    padding-top: 32px;
    padding-bottom: 32px;
}


.our-name {
    color: #2E2F42;
    text-align: center; 
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    max-width: 232px;
    max-height: 56px;
    margin-bottom: 8px;

    


}


.our-position {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

}
.soc-icon{
    display: flex;
    justify-content: center;
    gap: 24px;}

.icon-cintainer{
    width: 40px;
    height: 40px;
    display: flex;
}

.icon-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover, .icon-link:focus { 
background-color:#404bbf;

}



.icon-svg {
    margin: auto;
    fill: #f4f4fd;
}





.last-section {padding: 120px 0;}

.container-portfolio {
    max-width: 1440px;
    max-height: 3300px;
    margin-bottom: 72px;
}

.portfolio {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}



.team-portfolio {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding-inline-start: 0px;
}


.last-section-list {
    cursor: pointer;
    background: var(--WHITE, #fff);
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.last-section-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.last-section-list:hover .overlay {
    transform: translateY(0);
}


.portfolio-img-cont {
    position: relative;
    overflow: hidden;
}
.overlay {
    color: #f4f4fd;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}



.portfolio-projekt-class {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin: 0 auto;
}

.portfolio-projekt {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    max-width: 172px;
    max-height: 24px;
    margin-bottom: 8px;

}

.portfolio-projekt-work {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 75px;
    max-height: 24px;
}

.portfolio-img {
    background-color: #FFF;
    max-width: 360px;
    max-height: 300px;
}

.container-footer {
    display: flex;
    align-items: baseline;

}
.container-logo-footer {margin-right: 120px;}

.footer-bg {
    background: #2E2F42;
    padding: 100px 0;
}
.logo-footer{
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}


.part-logo-footer {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    max-width: 71px;
    max-height: 21px;
    color: var(--CLOUD, #f4f4fd)
}

.footer-parag {
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}


.soc {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    
}
.soc-footer-ul {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.icon-footer-list {
    width: 40px;
    height: 40px;
    display: flex;
 
}
.icon-link-foot {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-foot:hover,
.icon-link-foot:focus {
    background-color: #31d0aa
}
.icon-svg-footer {
    margin: auto;
    fill: #f4f4fd;
}

